.main-container {
    height: 100vh;
  }
  
  .form-container {
    width: 100%;
    max-width: 500px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  