.aboutContainer {
    text-align: center;
  }
  
  .memberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: both;
    animation-delay: var(--animation-delay);
  }
  
  .memberImage {
    width: 108px;
    height: 108px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
  }
  
  .memberName {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .memberRole {
    font-size: 1rem;
    color: #666;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
