.boton {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonPDF {
  background-color: #ff9900;
}

.botonPDF:hover {
  background-color: #cc7a00;
}

.botonExcel {
  background-color: #28a745;
}

.botonExcel:hover {
  background-color: #1e7e34;
}




