

/* Mini Navbar */
.miniNavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FF5C1A ;
}

.links__miniNavBar{
    margin: 0;
    padding: 0.3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    list-style: none;
}

.link__links{
    color: #FFF;
    padding: 0.2rem 0.5rem;
    border-radius: 10rem;
    transition: all 0.3s;
}

.link__links:hover {
    color: #202020;
    background-color: rgba(255, 255, 255, 0.7);
}

.linkActive__Links{
    color: #202020;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}

.subLinks__link{
    border: 1px solid gray;
}

.btn__subLinks{
    padding: 0;
}

.sublink__subLinks {
    color: gray;
    font-weight: 600;
    font-size: small;
    height: 100%;
    width: 100%;
    padding: 0.2rem 0.5rem;
    transition: all 0.1s;
}

.sublink__subLinks:hover {
    color: #FFF;
}