.loginContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: Arial, sans-serif;
}

.formContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #e6e6e6;
  margin-top: 10px;
  box-shadow: 0 10px 10px 0 #666;
}

.title {
  font-size: 2rem;
  font-weight: medium;
  margin-bottom: 10px;
  text-align: left;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.formControl {
  width: 100%;
  padding: 50px;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-35%);
  color: #666;
  font-size: 1rem;
}

.lockIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-35%);
  color: #666;
  font-size: 1rem;
  cursor: pointer;
}

.inputField:focus {
  border-color: #646464;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.floatingLabel {
  position: absolute;
  top: 60%;
  left: 16px;
  font-size: 1rem;
  color: #999;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease all;
}

.inputField:focus + .floatingLabel,
.inputField:not(:placeholder-shown) + .floatingLabel {
  top: 18px;
  left: 20px;
  font-size: 0.6rem;
  color: #646464;
}

.button {
  margin-top: 20px;
  width: 50%;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonSave {
  background-color: #007bff;
  color: #fff;
}

.buttonSave:hover {
  background-color: #0056b3;
}

.buttonTest {
  background-color: #28a745;
  color: #fff;
}

.buttonTest:hover {
  background-color: #1e7e34;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingMessage {
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .formContainer {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
  }

  .formControl {
    padding: 20px;
  }

  .inputField {
    padding: 10px 30px 10px 12px;
  }

  .inputIcon,
  .lockIcon {
    right: 10px;
  }

  .floatingLabel {
    left: 12px;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.875rem;
  }

  .inputField {
    font-size: 0.875rem;
  }

  .floatingLabel {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .loadingMessage {
    font-size: 1rem;
  }
}

.helpLink{
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.modalImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

