* {
  padding: 0;
  margin: 0;
}

.HomeProducto {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.container__HomeProducto {
  height: 85vh;
  width: 100%;
  padding: 1.5rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.search__HomeProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.select__HomeProducto {
  cursor: pointer;
}

.img__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__container {
  max-height: 60vh;
  overflow-y: auto;
}

.btn_actions {
  width: 100% !important; 
  padding: 0.5rem;
  text-align: center;
  display: block;
}

.btn_container {
  display: flex;
  flex-direction: column; 
  
  gap: 100px; 
  align-items: stretch; 
  width: 100%;
}


.round_btn {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  background-color: #f39c12;
  color: #fff;
  border: none; 
  border-radius: 4px; 
  font-size: 18px; 
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom:3% ;
}

.round_btn:hover {
  background-color: #e67e22;
  transform: scale(1.1); 
}

.round_btn:active {
  background-color: #d35400;
  transform: scale(0.95); 
}

.round_btn:disabled {
  background-color: #bdc3c7; 
  cursor: not-allowed; 
}
.no_underline {
  text-decoration: none;
}
.customInput{
  margin-left: 10%;
  width: 20%;
  margin-right: 4%;
}