*{
  padding: 0;
  margin: 0;
}

.HomeProducto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.container__HomeProducto{
  height: 85vh;
  width: 100%;
  padding: 1.5rem;
  background-color: #F3F3F3;
  border-radius: 1rem;
}

.search__HomeProducto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.select__HomeProducto{
  cursor: pointer;
}

.btn__HomeProducto{
  width: 70%;
  justify-content: center;
}

.btn__add {
  position: absolute;
  background-color: #EF4624;
  color: #FFFFFF;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3rem;
  bottom: 3rem;
  border: none;
  border-radius: 20rem;
  cursor: pointer;
}

.icon__add{
  height: 2rem;
  width: 2rem;
}

.img__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__container {
  max-height: 60vh;
  overflow-y: auto;
}

