/* Estilos para los botones rojos y su animación */
.exportButton {
  transition: all 0.3s ease-in-out;
}

.exportButton:hover {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.exportButtonExcel:hover {
  background-color: #09753a;
  border-color: #09753a;
}
.exportButtonPdf:hover {
  background-color: #b30b00;
  border-color: #b30b00;
}