.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
}

.logoImage {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.iconButton {
  color: #000;
  font-size: 1.5rem;
  margin-left: 10px;
}
