* {
    padding: 0;
    margin: 0;
}




.container {
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.button {
    background-color: #6c6f73;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #414447;
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
