* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2rem;
    color: #333;
}

.header p {
    font-size: 1.2rem;
    color: #666;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 200px;
    height: 250px; 
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardImage {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
