form {
  font-family: Arial, sans-serif;
  border: 1px solid #cccccc8b;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f9f9f98f;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input, select, textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ed762b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e24815;
}