.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 1.5rem;
}

.login-box .form-control { 
    margin-bottom: 1rem;
}

.login-box .btn {
    margin-bottom: 1rem;
}

.login-box .help-box {
    margin-top: 1rem;
}

.box__right{
    background: linear-gradient(135deg, #cc5a2e, #b3742e);
    width: 50%;
    height: 100%;
}