.modal.fade {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-dialog {
    max-width: 45%;
    margin: auto;
}

.modal-content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body .formulario label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.modal-body .formulario input,
.modal-body .formulario select {
    width: 70%; /* Adjusted width to allow space for the label */
    padding: 8px;
    margin-left: 10px; /* Added margin-left for spacing */
    box-sizing: border-box;
}
