* {
    box-sizing: border-box;
}
/* Ensure no margins or paddings in body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent any scroll */
}

/* To ensure the root takes up all the space */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main container */
.main-container {
    flex: 1; /* Takes up all available space */
    display: flex;
    margin: 0; /* No margins */
    padding: 0; /* No paddings */
    height: 100%; /* Ensure it takes up all the remaining space */
}

/* Halves divided */
.w-50 {
    flex: 1; /* Takes up exactly half */
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    flex: 1; /* Takes up all available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom gray background */
.custom-gray {
    background-color: #ededed;
}

/* Remove margins from internal titles and paragraphs */
h1, p {
    margin: 0;
    text-align: center;
}

/* 70-30 */
.w-70 {
    flex: 7; /* Takes up 70% of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-30 {
    flex: 3; /* Takes up 30% of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 60-40 */
.w-60 {
    flex: 6; /* Takes up 60% of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-40 {
    flex: 4; /* Takes up 40% of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 50-25-25 vertical split */
.v-50 {
    flex: 1; /* Takes up 50% of the space */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
}

.v-25 {
    flex: 1; /* Takes up 25% of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-multistock {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f44c09;
    border: 1px solid #f44c09;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-multistock:hover {
    color: #fff;
    background-color: #d43d07;
    border-color: #d43d07;
}

.btn-multistock:focus, .btn-multistock.focus {
    color: #fff;
    background-color: #d43d07;
    border-color: #d43d07;
    box-shadow: 0 0 0 0.2rem rgba(244, 76, 9, 0.5);
}

.btn-multistock:disabled, .btn-multistock.disabled {
    color: #fff;
    background-color: #f44c09;
    border-color: #f44c09;
    opacity: 0.65;
}

/* Rules for tables */

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dee2e6;
}

td {
    font-size: 14px;
    color: #495057;
}

.table_header{
    background-color: #17a2b8!important;
    color: white!important;
}

canvas{
    border: 0!important;
}