.agregar-abono-btn {
    background-color: #28a745; /* Verde vibrante */
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.agregar-abono-btn:hover {
    background-color: #218838;
}

.save-btn {
    background-color: #007bff; /* Azul vibrante */
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #0056b3;
}
