.abono-cliente-container {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.abono-cliente-left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.abono-cliente-right {
    flex: 1;
    background-color: #f8f9fa;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
