.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(239, 70, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logoImage {
  width: 180px;
  height: auto;
  margin-right: 10px;
  transition: 0.3s ease;
}

.logoImage:hover {
  filter: brightness(0);
}

.iconButton {
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconButton:hover {
  color: black;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.dropdown {
  position: relative;
}



.dropdownItem {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  color: #000;
}