.main__container {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 2rem;
  font-size: 62.5%;
}

/*HEADER--------------------------------------------------------------------------------------------------------*/
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7)
}

/*TABLE---------------------------------------------------------------------------------------------------------*/
.container__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 60%;
}

.table{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: none;
}
/*THEAD-----------------------------------------------------------------------------------------------------------*/
.table__tHead{
  width: 100%;
  height: auto;
}

.tHead__row{
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 0.2rem;
}

.item__icon{
  font-size: 1rem;
  font-weight: 200;
  overflow: ellipsis;
  overflow: hidden;
  border: none;
}

.rowHead__item1{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 5%;
  border-radius: 20% 0 0 20%;
}

.rowHead__item2{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 10%;
}
.rowHead__item3{
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 20%;
}
.rowHead__item4{
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 20%;
}
.rowHead__item5{
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 25%;
}
.rowHead__item6{
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 15%;
}
.rowHead__item7{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: #FFFFFF;
  background-color: #17a2b8;
  flex-basis: 5%;
  border-radius: 0 20% 20% 0;
}
/*TBODY-----------------------------------------------------------------------------------------------------------*/
.table__tBody{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.tBody__row{
  width: 100%;
  height: 4rem;
  display: flex;
  border: none;
  gap: 0.2rem;
}

.rowBody__item1{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 5%;
  justify-content: center;
  border-radius: 20% 0 0 20%;
}
.rowBody__item2{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 10%;
  justify-content: center;
}
.rowBody__item3{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 20%;
}
.rowBody__item4{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 20%;
}
.rowBody__item5{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 25%;
}
.rowBody__item6{
  padding: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  overflow: hidden;
  flex-basis: 15%;
}
.rowBody__item7{
  position: relative;
  padding: 0;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #E6E6E6;
  flex-basis: 5%;
  border-radius: 0 20% 20% 0;
}

.item7__btn{
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 1rem;

  &:hover .btn__icon {
    transform: scale(1.2);
  }

  &:active .btn__icon {
    transform: scale(1);
  }
}

.btn__icon{
  font-size: 1rem;
  transition: all 0.1s ease-in;
}
/*DROPDOWN-------------------------------------------------------------------------------------------------------*/
.dropdown{
  position: absolute;
  background-color: #FFFFFF;
  min-width: 10rem;
  height: auto;
  padding: 0.6rem 0;
  margin: 0;
  display: none;
  flex-direction: column;
  z-index: 2;
  list-style: none;
  right: 10%;
  top: 75%;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.dropdown__item {
  border: none;
  display: flex;
  padding: 0.5rem 0.6rem;
  align-items: start;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  transition: color 0.1s, background-color 0.1s;

  &:hover {
    color:#FFFFFF;
    background-color: #17a2b8;
  }
}

.dropdownOpen{
  display: flex;
}
/*FOOTER--------------------------------------------------------------------------------------------------------*/
.container__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}