* {
    padding: 0;
    margin: 0;
}




.layout {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: coral;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Contenido principal */
  .mainContent {
    flex: 1;
    padding: 40px 20px;
    background-color: #f4f4f4;
  }
  
  .cards {
    text-align: center;
  }
  
  .cardContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardImage {
    width: 50%;
    height: auto;
    border-radius: 8px;
  }
  
  .card h3 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
  }
  
  .card p {
    font-size: 0.9em;
    color: #777;
  }
  
  .cardButton {
    background-color: coral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }
  
  .cardButton:hover {
    background-color: #d86213;
  }
  
  /* Footer */
  .footer {
    background-color: coral;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .socialLinks {
    margin-top: 10px;
  }
  
  .socialLinks a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }