.clientes-container {
    width: 100%; /* Ensure it takes full width */
    height: 100%; /* Ensure it takes full height */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clientes-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.clientes-search-container {
    display: flex;
    margin-bottom: 20px;
}

.clientes-search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

.clientes-search-button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.clientes-search-button:hover {
    background-color: #0056b3;
}

.clientes-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 80px); /* Adjusted height to fit within the container */
    overflow-y: auto;
    width: 60vh;
}

.clientes-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.clientes-list-item:last-child {
    border-bottom: none;
}
