.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-box {
    width: 70%; /* Wider than tall */
    max-width: 800px;
    padding: 1.5rem; /* Reduced padding to make it less tall */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-box h1 {
    margin-bottom: 1rem; /* Reduced margin */
}

.register-box .form-control {
    margin-bottom: 0.75rem; /* Reduced margin */
}

.register-box .btn {
    margin-top: 0.75rem; /* Reduced margin */
}

.help-box {
    margin-top: 0.75rem; /* Reduced margin */
}

.bg-orange {
    background: linear-gradient(135deg, #cc5a2e, #b3742e);
}

.centered-link {
    text-align: center;
    margin: 1rem 0; /* Margin top and bottom */
}