.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20dvh;
}

.form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  padding: 25px;
}

.btn {
  margin-top: 30px;
  height: 45px;
  width: 100px;
  background-color: #ef4624;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background-color: #d43f1a;
}
